
@mixin linear-gradient($from, $to) {
  background-image:  -webkit-linear-gradient($from, $to);
  background-image:     -moz-linear-gradient($from, $to);
  background-image:      -ms-linear-gradient($from, $to);
  background-image:       -o-linear-gradient($from, $to);
}

@mixin transition($time) {
  -webkit-transition: $time ease;
  -moz-transition:    $time ease;
  -ms-transition:     $time ease;
  -o-transition:      $time ease;
  transition:         $time ease;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* May want a typekit subscription or somesuch to use proxima nova */
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #60676f;
}


.container {
  max-width: 1160px;
  background: 509px 324px no-repeat url(../img/Drop-down-Style-v4.png);
  height: 658px;
  .row {
    margin-top: 60px;
    clear: both;
    .col {
      padding: 60px 40px;
      width: 300px;
      float: left;
      margin-left: 20px;
      &.dark {
        background: #edeff0;
      }
    }
  }
}


.select {

  @include linear-gradient(rgba(255,255,255, 0.1), rgba(189,194,199, 0.1));
  @include transition(500ms);

  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0 0 2px #fff, 1px 0 1px rgba(214,216,219, 0.27);
  border: solid 1px #ced1d4;
  background-color: #fff;
  cursor: pointer;
  padding: 11px 20px;

  &:hover {
    border: solid 1px rgba(0,0,0,0);
    background-image: none;
    box-shadow: inset 0 0 2px #fff, 0 1px 3px rgba(0,0,0,0.15), 0 0 4px rgba(193,198,203,0.55);
  }

  a {
    @include transition(300ms);
    color: #60676f;
    text-decoration: none;
  }

  .selected {
    display: inline-block;
  }

  &.active .selected {
    color: #000;
  }

  .arrow-down {
    width: 9px;
    height: 10px;
    display: inline-block;
    margin-left: 40px;
    background: transparent url(../img/arrow-down-blue.png) right center no-repeat;
  }

  ul {

    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 0 4px rgba(193,198,203,0.55);
    border-radius: 3px;
    border: solid 1px rgba(193,198,203,0.55);

    li {
      list-style: none;
      border-top: solid 1px #edf2f7;
      background: #fff;

      &:first-child {
        border-top: none;
      }

      &:hover {
        background: #fbfbfb;
        a {
          color: #000;
        }
      }

      a {
        display: block;
        padding: 11px 20px;
      }

      a:active, a.active {
        color: #148fe6;
      }

    }
  }

}
